Flask
mysql-connector
flask_cors
elasticsearch
PyYAML
boto3
pdfminer
doc2text
flask-cors
Flask-API
textract
python-docx
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz